<div class="container-fluid">
  <img src="https://img.freepik.com/premium-vector/budget-financial-analyst-managing-planning-spending-money-checklist-clipboard-calculator-calendar-background-vector-illustration_2175-1883.jpg?w=2000" class="card-img-top" alt="...">
  <h5 class="mt-3 text-center fw-bold">WELCOME TO YOUR BUDGET APP</h5>
  <div class="d-flex justify-content-center flex-column">
   <%= link_to 'Log In', user_session_path, class: "btn btn-primary mt-3" %> 
   <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary mt-3" %>
  </div>
</div>